@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Cute Dino";
  src: url(../fonts/Cute-Dino.ttf);
}
body,
html {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Poppins", system-ui;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img,
video {
  width: 100%;
}

button {
  outline: none;
  border: none;
  background: transparent;
}

::-moz-selection {
  /* Code for Firefox */
  color: #f7f69b;
  background: #bfa9f6;
}

::selection {
  color: #f7f69b;
  background: #bfa9f6;
}

.button-color {
  padding: 10px 15px;
  font-family: "Cute Dino";
  background: #96c3ff;
  border-radius: 100px;
  width: -moz-fit-content;
  width: fit-content;
  transition: all ease 0.3s;
}
.button-color:hover {
  background: #88b9fa;
  transform: scale(1.1);
}

.heading-block {
  margin-bottom: 50px;
}
.heading-block .title {
  font-size: 40px;
  font-family: "Cute Dino";
  text-align: center;
}

.pagi {
  margin-top: 50px;
}
.pagi .pagi-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pagi .pagi-button {
  min-width: 20px;
  padding: 5px 8px;
  transition: all ease 0.3s;
  border-radius: 8px;
}
.pagi .pagi-button img {
  width: 15px;
}
.pagi .pagi-button:hover {
  background: #f7f69b;
  transform: scale(1.1);
}
.pagi .pagi-page,
.pagi .page-etc {
  border-radius: 8px;
  padding: 5px 10px 3px;
  text-align: center;
  transition: all ease 0.3s;
  font-family: "Cute Dino";
}
.pagi .pagi-page.active,
.pagi .page-etc.active {
  background-color: #96c3ff;
}
.pagi .pagi-page.active:hover,
.pagi .page-etc.active:hover {
  background-color: #96c3ff;
}
.pagi .pagi-page:hover,
.pagi .page-etc:hover {
  background: #f7f69b;
  transform: scale(1.1);
}

header {
  position: relative;
  z-index: 10;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: unset;
  padding: 30px 0;
}
header .logo .logo-image {
  width: 250px;
}

.topbar {
  background: #eeb8d0;
  padding: 5px 0;
}
.topbar .topbar-text {
  text-align: center;
  font-weight: 300;
}

.header-wrapper .logo {
  width: 100%;
}
.header-wrapper .header-nav {
  width: 100%;
}

.header-nav {
  background: #96c3ff;
  padding: 10px 0;
}
.header-nav .nav-list-lv0 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.header-nav .link {
  font-family: "Cute Dino";
  transition: all ease 0.2s;
  display: inline-block;
}
.header-nav .link:hover {
  transform: scale(1.2);
}
.header-nav .dropdown-btn {
  width: 20px;
}
.header-nav .nav-item-lv0 {
  position: relative;
}
.header-nav .nav-item-lv0:hover .nav-list-lv1 {
  display: block;
}
.header-nav .nav-list-lv1 {
  padding: 10px 15px;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  background: #f7f69b;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}
.header-nav .nav-list-lv1::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 10px;
}
.header-nav .nav-item-lv1 {
  padding: 5px;
}

.product {
  margin-top: 100px;
}
.product.product-border .product-item {
  display: block;
}
.product.product-border .product-item .image {
  border: 15px solid #bfa9f6;
}
.product.product-large .product-wrapper {
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
}
.product .product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 60px;
}
.product .product-item .image {
  aspect-ratio: 8/9;
  overflow: hidden;
  margin-bottom: 35px;
}
.product .product-item .image:hover img {
  transform: scale(1.1);
}
.product .product-item .image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all ease 0.3s;
}
.product .product-item .content .title {
  font-size: 20px;
  font-family: "Cute Dino";
  text-align: center;
  text-transform: capitalize;
}
.product .product-item .content .price {
  font-weight: 300;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}

.product-tab {
  margin-top: 50px;
}
.product-tab .product-tab-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.product-tab .product-tab-item.active a {
  background: #eeb8d0;
}
.product-tab .product-tab-item.active a:hover {
  background: #eeb8d0;
}
.product-tab .product-tab-item a {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 18px 7px;
  font-family: "Cute Dino";
  border-radius: 100px;
  font-size: 16px;
  transition: all ease 0.3s;
}
.product-tab .product-tab-item a:hover {
  background: #f7f69b;
  transform: scale(1.1);
}

.video {
  margin-top: 100px;
  position: relative;
  padding: 60px;
}
.video.video-flower {
  background: #96c3ff;
}
.video.video-setup {
  background: #bfa9f6;
}
.video .video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.video .video-background img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.video .video-wrapper {
  aspect-ratio: 6/3;
  overflow: hidden;
  border: 15px solid #f7f69b;
  position: relative;
  z-index: 2;
}
.video .video-wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  margin-top: 100px;
  padding: 50px 0;
  background: #ffc4e9;
}
footer .footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 12% 12% 25%;
  grid-column-gap: 30px;
}
footer .logo {
  max-width: 400px;
  display: block;
  margin-bottom: 30px;
}
footer .info-item {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}
footer .info-item .icon {
  width: 25px;
  min-width: 25px;
}
footer .info-item .text {
  font-weight: 300;
}
footer .footer-widget .title {
  font-family: "Cute Dino";
  font-size: 20px;
  margin-bottom: 10px;
}
footer .footer-widget .footer-link-list {
  padding-left: 12px;
  list-style-type: disc;
}
footer .footer-widget .footer-link-item {
  margin-bottom: 7px;
}
footer .footer-widget .footer-link-item a {
  font-weight: 300;
  transition: all ease 0.3s;
  display: inline-block;
}
footer .footer-widget .footer-link-item a:hover {
  transform: scale(1.1);
}
footer .blockquote {
  font-family: "Cute Dino";
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  .heading-block .title {
    font-size: 30px;
  }
  .product,
  .video,
  footer {
    margin-top: 50px;
  }
  .product.product-large .product-wrapper {
    grid-column-gap: 20px;
  }
  .product.product-small .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
  }
  .product.product-border .product-item .image {
    border-width: 10px;
  }
  .video {
    padding: 25px;
  }
  .video .video-wrapper {
    border-width: 10px;
  }
  footer .logo {
    margin: 0 auto 30px;
    max-width: 300px;
  }
  footer .footer-wrapper {
    grid-row-gap: 20px;
  }
  footer .footer-wrapper .info-list {
    grid-area: 1/1/1/5;
  }
  footer .footer-wrapper .footer-widget:nth-child(2) {
    grid-area: 2/1/2/3;
  }
  footer .footer-wrapper .footer-widget:nth-child(3) {
    grid-area: 2/3/2/5;
  }
  footer .footer-wrapper .blockquote {
    grid-area: 3/1/3/5;
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .product.product-border .product-item .image {
    border-width: 8px;
  }
  .product-tab .product-tab-list {
    gap: 10px;
  }
  .video {
    padding: 20px 12px;
  }
  .video .video-wrapper {
    aspect-ratio: 6/4;
    border-width: 8px;
  }
  footer .logo {
    max-width: 250px;
  }
}
.half-banner .banner-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}
.half-banner .banner-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  aspect-ratio: 1;
}
.half-banner .banner-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.half-banner .banner-content {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: unset;
  gap: 10px;
  flex-direction: column;
  background: #f7f69b;
}
.half-banner .banner-content .title {
  font-family: "Cute Dino";
  font-size: 60px;
}
.half-banner .banner-content .desc {
  font-weight: 300;
  width: 80%;
}
.half-banner .banner-content .button-color {
  margin-top: 30px;
}

@media only screen and (max-width: 991px) {
  .half-banner .banner-content .title {
    font-size: 40px;
  }
  .half-banner .banner-content .desc {
    width: 100%;
  }
  .half-banner .banner-content .button-color {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .half-banner .banner-wrapper {
    grid-template-columns: repeat(1, 100%);
  }
  .half-banner .banner-slider {
    width: 100%;
  }
  .half-banner .banner-image {
    aspect-ratio: 4/3;
  }
  .half-banner .banner-content {
    padding: 50px 12px;
  }
  .half-banner .banner-content .title {
    font-size: 25px;
    text-align: center;
  }
  .half-banner .banner-content .desc {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}
.full-banner .banner-wrapper {
  position: relative;
}
.full-banner .banner-slider {
  width: 100%;
}
.full-banner .banner-image {
  aspect-ratio: 4/2;
  overflow: hidden;
}
.full-banner .banner-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.full-banner .banner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: unset;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
}
.full-banner .banner-content .title {
  font-family: "Cute Dino";
  color: #fff;
  font-size: 60px;
}

@media only screen and (max-width: 991px) {
  .full-banner .banner-content .title {
    font-size: 40px;
  }
}
@media only screen and (max-width: 576px) {
  .full-banner .banner-content .title {
    font-size: 25px;
  }
}
.product-detail {
  margin-top: 120px;
}
.product-detail .product-detail-wrapper {
  display: flex;
  justify-content: unset;
  align-items: start;
  gap: 40px;
}
.product-detail .detail-slider-container {
  width: 50%;
}
.product-detail .detail-slider {
  width: 100%;
}
.product-detail .detail-slider .swiper-slide {
  height: unset;
}
.product-detail .detail-image-item {
  aspect-ratio: 1;
  border-radius: 10px;
  overflow: hidden;
}
.product-detail .detail-image-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-detail .detail-thumb {
  width: 100%;
  margin-top: 5px;
}
.product-detail .detail-thumb .swiper-slide {
  filter: brightness(0.6);
  transition: all ease 0.3s;
  cursor: pointer;
  height: unset;
}
.product-detail .detail-thumb .swiper-slide-thumb-active {
  filter: brightness(1);
}
.product-detail .detail-thumb-item {
  aspect-ratio: 1;
  border-radius: 5px;
  overflow: hidden;
}
.product-detail .detail-thumb-item img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-detail .detail-info {
  width: 50%;
}
.product-detail .detail-info .title {
  font-size: 30px;
  font-family: "Cute Dino";
  text-transform: capitalize;
  margin-bottom: 10px;
  display: block;
}
.product-detail .detail-info .price {
  margin-bottom: 10px;
}
.product-detail .detail-info .price .number {
  font-size: 25px;
  font-weight: 600;
  color: #bfa9f6;
}
.product-detail .detail-info .size {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 300;
}
.product-detail .detail-info .desc {
  font-weight: 300;
  font-size: 14px;
  display: block;
  margin-bottom: 20px;
}
.product-detail .product-detail-content {
  margin-top: 80px;
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.product-detail .product-detail-content .title {
  font-size: 30px;
  font-family: "Cute Dino";
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #96c3ff;
  -webkit-text-stroke: 0.55px black;
}
.product-detail .product-detail-content .detail h1,
.product-detail .product-detail-content .detail h2,
.product-detail .product-detail-content .detail h3,
.product-detail .product-detail-content .detail h4,
.product-detail .product-detail-content .detail h5,
.product-detail .product-detail-content .detail h6 {
  font-family: "Cute Dino";
  margin: 20px 0;
}
.product-detail .product-detail-content .detail h1:first-child,
.product-detail .product-detail-content .detail h2:first-child,
.product-detail .product-detail-content .detail h3:first-child,
.product-detail .product-detail-content .detail h4:first-child,
.product-detail .product-detail-content .detail h5:first-child,
.product-detail .product-detail-content .detail h6:first-child {
  margin-top: 0;
}
.product-detail .product-detail-content .detail h2 {
  font-size: 26px;
}
.product-detail .product-detail-content .detail h3 {
  font-size: 24px;
}
.product-detail .product-detail-content .detail h4 {
  font-size: 22px;
}
.product-detail .product-detail-content .detail h5 {
  font-size: 20px;
}
.product-detail .product-detail-content .detail h6 {
  font-size: 18px;
}
.product-detail .product-detail-content .detail p,
.product-detail .product-detail-content .detail li {
  font-size: 14px;
  font-weight: 300;
  color: #000;
}
.product-detail .product-detail-content .detail p {
  margin-bottom: 15px;
}
.product-detail .product-detail-content .detail ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 15px;
}
.product-detail .product-detail-content .detail li {
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .product-detail .product-detail-wrapper {
    flex-direction: column;
  }
  .product-detail .detail-info,
  .product-detail .detail-slider-container {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .product-detail {
    margin-top: 80px;
  }
  .product-detail .product-detail-content .detail h2 {
    font-size: 24px;
  }
  .product-detail .product-detail-content .detail h3 {
    font-size: 22px;
  }
  .product-detail .product-detail-content .detail h4 {
    font-size: 20px;
  }
  .product-detail .product-detail-content .detail h5 {
    font-size: 18px;
  }
  .product-detail .product-detail-content .detail h6 {
    font-size: 16px;
  }
}
.policy {
  margin-top: 50px;
}
.policy .policy-wrapper h1,
.policy .policy-wrapper h2,
.policy .policy-wrapper h3,
.policy .policy-wrapper h4,
.policy .policy-wrapper h5,
.policy .policy-wrapper h6 {
  font-family: "Cute Dino" !important;
  color: #96c3ff !important;
  -webkit-text-stroke: 0.55px black;
}
.policy .policy-wrapper h1 {
  margin-bottom: 20px;
}
.policy .policy-wrapper h2 {
  margin-bottom: 18px;
}
.policy .policy-wrapper h3 {
  margin-bottom: 15px;
}
.policy .policy-wrapper h4 {
  margin-bottom: 12px;
}
.policy .policy-wrapper h5 {
  margin-bottom: 10px;
}
.policy .policy-wrapper h6 {
  margin-bottom: 8px;
}
.policy .policy-wrapper p {
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 1.5;
  color: #000 !important;
  font-size: 14px !important;
}
.policy .policy-wrapper ul {
  padding-left: 15px;
  list-style-type: disc;
  margin-bottom: 20px;
}
.policy .policy-wrapper ul li {
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #000 !important;
  font-size: 14px !important;
}

@media only screen and (max-width: 576px) {
  .policy .policy-wrapper h1,
  .policy .policy-wrapper h2,
  .policy .policy-wrapper h3,
  .policy .policy-wrapper h4,
  .policy .policy-wrapper h5,
  .policy .policy-wrapper h6 {
    -webkit-text-stroke: 0.55px rgba(0, 0, 0, 0.6);
  }
}